.App_load {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App_load .circle-one {
  position: absolute;
  left: -1000px;
  top: -1007px;
  z-index: -1;
}
.App_load .circle-two {
  position: absolute;
  left: -300px;
  top: -900px;
  z-index: -1;
}

.App {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}
.App .circle-one {
  position: absolute;
  left: -1000px;
  top: -1007px;
  z-index: -1;
}
.App .circle-two {
  position: absolute;
  left: -100px;
  top: -1000px;
  z-index: -1;
}
.App .circle-tree {
  position: absolute;
  left: -1000px;
  top: 300px;
  z-index: -1;
}
.App .circle-for {
  position: absolute;
  left: -100px;
  top: 600px;
  z-index: -1;
}
.App .circle-five {
  position: absolute;
  left: -1000px;
  top: 1600px;
  z-index: -1;
}
.App .circle-six {
  position: absolute;
  left: -143px;
  top: 2518px;
  z-index: -1;
}
.App .circle-seven {
  position: absolute;
  left: -1000px;
  top: 2977px;
  z-index: -1;
}
.App .circle-eight,
.App .circle-nine,
.App .circle-teen,
.App .circle-21,
.App .circle-22,
.App .circle-23 {
  display: none;
}

@media (max-width: 1024px) {
  .App .circle-one {
    position: absolute;
    left: -1000px;
    top: -1007px;
    z-index: -1;
  }
  .App .circle-two {
    position: absolute;
    left: -100px;
    top: -1000px;
    z-index: -1;
  }
  .App .circle-tree {
    position: absolute;
    left: -1000px;
    top: 300px;
    z-index: -1;
  }
  .App .circle-for {
    position: absolute;
    left: -100px;
    top: 600px;
    z-index: -1;
  }
  .App .circle-five {
    position: absolute;
    left: -1000px;
    top: 1600px;
    z-index: -1;
  }
  .App .circle-six {
    position: absolute;
    left: -143px;
    top: 2518px;
    z-index: -1;
  }
  .App .circle-seven {
    position: absolute;
    left: -1000px;
    top: 2977px;
    z-index: -1;
  }
  .App .circle-eight {
    display: block;
    position: absolute;
    left: -143px;
    top: 3518px;
    z-index: -1;
  }
  .App .circle-nine {
    display: block;
    position: absolute;
    left: -1000px;
    top: 4377px;
    z-index: -1;
  }
  .App .circle-teen {
    display: block;
    position: absolute;
    left: -143px;
    top: 4977px;
    z-index: -1;
  }
  .App .circle-21 {
    display: block;
    position: absolute;
    left: -1000px;
    top: 5477px;
    z-index: -1;
  }
  .App .circle-22 {
    display: block;
    position: absolute;
    left: -143px;
    top: 5877px;
    z-index: -1;
  }
  .App .circle-23 {
    display: block;
    position: absolute;
    left: -1000px;
    top: 6377px;
    z-index: -1;
  }
  .App .circle-24 {
    display: block;
    position: absolute;
    left: -143px;
    top: 6877px;
    z-index: -1;
  }
  .App .circle-25 {
    display: block;
    position: absolute;
    left: -1000px;
    top: 7377px;
    z-index: -1;
  }
}
@media (max-width: 678px) {
  .App .circle-one {
    position: absolute;
    left: -1500px;
    top: -1007px;
    z-index: -1;
  }
  .App .circle-two {
    position: absolute;
    left: -600px;
    top: -400px;
    z-index: -1;
  }
  .App .circle-tree {
    position: absolute;
    left: -1300px;
    top: 300px;
    z-index: -1;
  }
  .App .circle-for {
    position: absolute;
    left: -600px;
    top: 900px;
    z-index: -1;
  }
  .App .circle-five {
    position: absolute;
    left: -1300px;
    top: 1300px;
    z-index: -1;
  }
  .App .circle-six {
    position: absolute;
    left: -600px;
    top: 1700px;
    z-index: -1;
  }
  .App .circle-seven {
    position: absolute;
    left: -1300px;
    top: 2277px;
    z-index: -1;
  }
  .App .circle-eight {
    display: block;
    position: absolute;
    left: -600px;
    top: 2577px;
    z-index: -1;
  }
  .App .circle-nine {
    display: block;
    position: absolute;
    left: -1300px;
    top: 3000px;
    z-index: -1;
  }
  .App .circle-teen {
    display: block;
    position: absolute;
    left: -600px;
    top: 3400px;
    z-index: -1;
  }
  .App .circle-21 {
    display: block;
    position: absolute;
    left: -1000px;
    top: 5477px;
    z-index: -1;
  }
  .App .circle-22 {
    display: block;
    position: absolute;
    left: -143px;
    top: 5877px;
    z-index: -1;
  }
  .App .circle-23 {
    display: block;
    position: absolute;
    left: -1000px;
    top: 6377px;
    z-index: -1;
  }
  .App .circle-24 {
    display: block;
    position: absolute;
    left: -143px;
    top: 6877px;
    z-index: -1;
  }
  .App .circle-25 {
    display: block;
    position: absolute;
    left: -1000px;
    top: 7377px;
    z-index: -1;
  }
}/*# sourceMappingURL=App.css.map */