#skills {
  width: 100%;
  .x-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 700;
      color: #012b52;
      margin-bottom: 30px;
      padding-top: 30px;
    }
    .content {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .x-left {
        width: 47%;

        .box-skill {
          width: 100%;
          background-color: rgba($color: #fff, $alpha: 0.5);
          padding: 30px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            font-size: 18px;
            font-weight: 700;
            color: #012b52;
            margin-bottom: 20px;
          }
          .list-skills {
            display: flex;
            flex-direction: column;
            width: 80%;

            .skill {
              display: flex;
              justify-content: space-between;

              .box {
                display: flex;
                justify-content: space-between;

                div:first-child {
                  margin-right: 10px;

                  i {
                    font-size: 25px;
                    color: #305c85;
                  }
                }
                div:last-child {
                  .name-list-skill {
                    font-size: 15px;
                    font-weight: 700;
                    color: #012b52;
                    margin-top: 6px;
                  }
                  .desc-list-skill {
                    font-size: 13px;
                    color: #305c85;
                    margin-top: -10px;
                  }
                }
              }
            }
          }
        }
      }
      .x-right {
        width: 47%;

        .box-skill {
          width: 100%;
          background-color: rgba($color: #fff, $alpha: 0.5);
          padding: 30px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            font-size: 18px;
            font-weight: 700;
            color: #012b52;
            margin-bottom: 20px;
          }
          .list-skills {
            display: flex;
            flex-direction: column;
            width: 80%;

            .skill {
              display: flex;
              justify-content: space-between;

              .box {
                display: flex;
                justify-content: space-between;

                div:first-child {
                  margin-right: 10px;

                  i {
                    font-size: 25px;
                    color: #305c85;
                  }
                }
                div:last-child {
                  .name-list-skill {
                    font-size: 15px;
                    font-weight: 700;
                    color: #012b52;
                    margin-top: 6px;
                  }
                  .desc-list-skill {
                    font-size: 13px;
                    color: #305c85;
                    margin-top: -10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #skills {
    width: 100%;
    .x-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: 700;
        color: #012b52;
        margin-bottom: 30px;
        padding-top: 150px;
      }
      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .x-left {
          width: 100%;
          margin-bottom: 30px;

          .box-skill {
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.5);
            padding: 30px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              font-size: 18px;
              font-weight: 700;
              color: #012b52;
              margin-bottom: 20px;
            }
            .list-skills {
              display: flex;
              flex-direction: column;
              width: 80%;

              .skill {
                display: flex;
                justify-content: space-between;

                .box {
                  display: flex;
                  justify-content: space-between;

                  div:first-child {
                    margin-right: 10px;

                    i {
                      font-size: 25px;
                      color: #305c85;
                    }
                  }
                  div:last-child {
                    .name-list-skill {
                      font-size: 15px;
                      font-weight: 700;
                      color: #012b52;
                      margin-top: 6px;
                    }
                    .desc-list-skill {
                      font-size: 13px;
                      color: #305c85;
                      margin-top: -10px;
                    }
                  }
                }
              }
            }
          }
        }
        .x-right {
          width: 100%;

          .box-skill {
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.5);
            padding: 30px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              font-size: 18px;
              font-weight: 700;
              color: #012b52;
              margin-bottom: 20px;
            }
            .list-skills {
              display: flex;
              flex-direction: column;
              width: 80%;

              .skill {
                display: flex;
                justify-content: space-between;

                .box {
                  display: flex;
                  justify-content: space-between;

                  div:first-child {
                    margin-right: 10px;

                    i {
                      font-size: 25px;
                      color: #305c85;
                    }
                  }
                  div:last-child {
                    .name-list-skill {
                      font-size: 15px;
                      font-weight: 700;
                      color: #012b52;
                      margin-top: 6px;
                    }
                    .desc-list-skill {
                      font-size: 13px;
                      color: #305c85;
                      margin-top: -10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 678px) {
  #skills {
    width: 100%;
    margin-bottom: 100px;
    .x-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: 700;
        color: #012b52;
        margin-bottom: 30px;
        padding-top: 30px;
      }
      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .x-left {
          width: 100%;
          margin-bottom: 20px;

          .box-skill {
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.5);
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              font-size: 16px;
              font-weight: 700;
              color: #012b52;
              margin-bottom: 20px;
            }
            .list-skills {
              display: flex;
              flex-direction: column;
              width: 100%;

              .skill {
                display: flex;
                justify-content: space-between;

                .box {
                  display: flex;
                  justify-content: space-between;

                  div:first-child {
                    margin-right: 10px;

                    i {
                      font-size: 25px;
                      color: #305c85;
                    }
                  }
                  div:last-child {
                    .name-list-skill {
                      font-size: 14px;
                      font-weight: 700;
                      color: #012b52;
                      margin-top: 6px;
                    }
                    .desc-list-skill {
                      font-size: 12px;
                      color: #305c85;
                      margin-top: -10px;
                    }
                  }
                }
              }
            }
          }
        }
        .x-right {
          width: 100%;

          .box-skill {
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.5);
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              font-size: 16px;
              font-weight: 700;
              color: #012b52;
              margin-bottom: 20px;
            }
            .list-skills {
              display: flex;
              flex-direction: column;
              width: 100%;

              .skill {
                display: flex;
                justify-content: space-between;

                .box {
                  display: flex;
                  justify-content: space-between;

                  div:first-child {
                    margin-right: 10px;

                    i {
                      font-size: 25px;
                      color: #305c85;
                    }
                  }
                  div:last-child {
                    .name-list-skill {
                      font-size: 14px;
                      font-weight: 700;
                      color: #012b52;
                      margin-top: 6px;
                    }
                    .desc-list-skill {
                      font-size: 12px;
                      color: #305c85;
                      margin-top: -10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
