#portfolio {
  .x-content {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 700;
      color: #012b52;
      margin-bottom: 50px;
    }
    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .box-portfolio {
        width: 32%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border-radius: 15px;

        .image {
          height: 200px;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 20px;
          cursor: pointer;

          img {
            width: 100%;
            transition: 0.3s;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
        h2 {
          font-size: 20px;
        }
        .action-portfolio {
          width: 100%;
          margin-top: -30px;

          .btn-outline-more {
            width: 45%;
            padding: 10px 20px;
            border: 1px solid #2c48d8;
            border-radius: 6px;
            font-weight: 600;
            color: #012b52;
            margin-right: 10px;

            i {
              color: #305c85;
            }
          }
          .btn-more {
            width: 45%;
            padding: 10px 20px;
            background-color: #2c48d8;
            color: #fff;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
