#portfolio {
  .x-content {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 700;
      color: #012b52;
      margin-bottom: 30px;
    }
    .content {
      display: flex;
      justify-content: baseline;
      flex-wrap: wrap;

      .box-portfolio {
        width: 32%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border-radius: 15px;
        margin-right: 20px;

        .image {
          height: 200px;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 20px;
          cursor: pointer;

          img {
            width: 100%;
            transition: 0.3s;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
        h2 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        .action-portfolio {
          width: 100%;

          .btn-more {
            width: 45%;
            padding: 10px 20px;
            border: 1px solid #2c48d8;
            border-radius: 6px;
            font-weight: 600;
            color: #012b52;
            margin-right: 10px;

            i {
              color: #305c85;
            }
          }
          .btn-more:hover {
            width: 45%;
            padding: 10px 20px;
            background-color: #2c48d8;
            color: #fff;
            border-radius: 6px;

            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #portfolio {
    .x-content {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: 700;
        color: #012b52;
        margin-bottom: 30px;
      }
      .content {
        display: flex;
        justify-content: baseline;
        flex-wrap: wrap;

        .box-portfolio {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 20px;
          background-color: rgba($color: #fff, $alpha: 0.8);
          border-radius: 15px;
          margin-bottom: 30px;
          margin-right: 0;

          .image {
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
            cursor: pointer;

            img {
              width: 100%;
              transition: 0.3s;
            }
            img:hover {
              transform: scale(1.2);
            }
          }
          h2 {
            font-size: 20px;
          }
          .action-portfolio {
            width: 100%;
            margin-top: -30px;

            .btn-more {
              width: 45%;
              padding: 10px 20px;
              border: 1px solid #2c48d8;
              border-radius: 6px;
              font-weight: 600;
              color: #012b52;
              margin-right: 10px;

              i {
                color: #305c85;
              }
            }
            .btn-more:hover {
              width: 45%;
              padding: 10px 20px;
              background-color: #2c48d8;
              color: #fff;
              border-radius: 6px;

              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 678px) {
  #portfolio {
    margin-bottom: 100px;
    .x-content {
      padding-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: 700;
        color: #012b52;
        margin-bottom: 30px;
        padding-top: 30px;
      }
      .content {
        display: flex;
        justify-content: baseline;
        flex-wrap: wrap;

        .box-portfolio {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 10px;
          background-color: rgba($color: #fff, $alpha: 0.8);
          border-radius: 15px;
          margin-bottom: 20px;
          margin-right: 0;

          .image {
            height: 200px;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
            cursor: pointer;

            img {
              width: 100%;
              transition: 0.3s;
            }
            img:hover {
              transform: scale(1.2);
            }
          }
          h2 {
            font-size: 16px;
            margin-bottom: 50px;
          }
          .action-portfolio {
            width: 100%;
            margin-top: -30px;

            .btn-more {
              width: 45%;
              padding: 10px 20px;
              border: 1px solid #2c48d8;
              border-radius: 6px;
              font-weight: 600;
              color: #012b52;
              margin-right: 10px;

              i {
                color: #305c85;
              }
            }
            .btn-more:hover {
              width: 45%;
              padding: 10px 20px;
              background-color: #2c48d8;
              color: #fff;
              border-radius: 6px;

              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
