#hero .x-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .x-content .x-left {
  padding-top: 80px;
  width: 48%;
}
#hero .x-content .x-left span {
  font-size: 24px;
  color: #305c85;
  display: block;
  margin-bottom: 10px;
}
#hero .x-content .x-left h1 {
  font-size: 45px;
  font-weight: 700;
  color: #012b52;
  margin-bottom: 10px;
}
#hero .x-content .x-left p {
  color: #305c85;
}
#hero .x-content .x-left .action-hero {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .x-content .x-left .action-hero .btn-more {
  width: 200px;
  padding: 10px 20px;
  background-color: #2c48d8;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
#hero .x-content .x-left .action-hero .btn-more i {
  font-size: 20px;
}
#hero .x-content .x-left .action-hero .btn-more:hover {
  background-color: #223dc9;
}
#hero .x-content .x-left .action-hero .box-sosmed {
  margin-top: 5px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
#hero .x-content .x-left .action-hero .box-sosmed a {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s;
}
#hero .x-content .x-left .action-hero .box-sosmed a i {
  font-size: 20px;
  color: #305c85;
}
#hero .x-content .x-left .action-hero .box-sosmed a:hover {
  background-color: white;
}
#hero .x-content .x-right {
  margin-top: 50px;
  width: 48%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}
#hero .x-content .x-right img {
  width: 80%;
}

@media (max-width: 1024px) {
  #hero {
    margin-bottom: 100px;
    position: relative;
  }
  #hero .x-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #hero .x-content .x-left {
    order: 2;
    padding-top: 80px;
    width: 100%;
    text-align: center;
  }
  #hero .x-content .x-left span {
    font-size: 24px;
    color: #305c85;
    display: block;
    margin-bottom: 10px;
  }
  #hero .x-content .x-left h1 {
    font-size: 45px;
    font-weight: 700;
    color: #012b52;
    margin-bottom: 10px;
  }
  #hero .x-content .x-left p {
    color: #305c85;
  }
  #hero .x-content .x-left .action-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #hero .x-content .x-left .action-hero .btn-more {
    width: 200px;
    padding: 10px 20px;
    background-color: #2c48d8;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
  }
  #hero .x-content .x-left .action-hero .btn-more i {
    font-size: 20px;
  }
  #hero .x-content .x-left .action-hero .btn-more:hover {
    background-color: #223dc9;
  }
  #hero .x-content .x-left .action-hero .box-sosmed {
    position: absolute;
    top: 200px;
    right: -50px;
    margin-top: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #hero .x-content .x-left .action-hero .box-sosmed a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s;
  }
  #hero .x-content .x-left .action-hero .box-sosmed a:hover {
    background-color: white;
  }
  #hero .x-content .x-right {
    order: 1;
    margin-top: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
  }
  #hero .x-content .x-right img {
    width: 80%;
  }
}
@media (max-width: 678px) {
  #hero {
    position: relative;
  }
  #hero .x-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #hero .x-content .x-left {
    order: 2;
    padding-top: 50px;
    width: 100%;
    text-align: start;
  }
  #hero .x-content .x-left span {
    font-size: 18px;
    color: #305c85;
    display: block;
    margin-bottom: 10px;
  }
  #hero .x-content .x-left h1 {
    font-size: 32px;
    font-weight: 700;
    color: #012b52;
    margin-bottom: 10px;
  }
  #hero .x-content .x-left p {
    color: #305c85;
    text-align: justify;
  }
  #hero .x-content .x-left .action-hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }
  #hero .x-content .x-left .action-hero .btn-more {
    width: 150px;
    padding: 10px 20px;
    background-color: #2c48d8;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  #hero .x-content .x-left .action-hero .btn-more i {
    font-size: 20px;
  }
  #hero .x-content .x-left .action-hero .btn-more:hover {
    background-color: #223dc9;
  }
  #hero .x-content .x-left .action-hero .box-sosmed {
    position: absolute;
    top: 100px;
    right: -90px;
    margin-top: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #hero .x-content .x-left .action-hero .box-sosmed a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
  }
  #hero .x-content .x-left .action-hero .box-sosmed a:hover {
    background-color: white;
  }
  #hero .x-content .x-right {
    order: 1;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-start;
  }
  #hero .x-content .x-right img {
    width: 80%;
  }
}/*# sourceMappingURL=Hero.css.map */